# Apple-copyrighted material: local analysis only, never redistribute
# (per MACOS_REVERSE.md / AVD_MACOS_FINDINGS.md rules)
rev/*.bin
rev/extracted/
rev/ioreg_*.txt
rev/avd_kernel_log.txt
rev/avd_kext_strings.txt
rev/avd_strings_linkedit_interesting.txt
